footer
  .footer__copyright &copy; kiadybezaka - 2017
  .footer__icons
    a(href="#")
      span.hide-only github
      i.fa.fa-github
    a(href="#")
      span.hide-only linkedin
      i.fa.fa-linkedin
    a(href="#")
      span.hide-only viadeo
      i.fa.fa-viadeo
    a(href="#")
      span.hide-only facebook
      i.fa.fa-facebook
    a(href="#")
      span.hide-only instagram
      i.fa.fa-instagram
.footer__navigation
  a(href="#").section-header__link Photographe
  a(href="#").section-header__link Developpeur
  a(href="#").section-header__link A propos
script(src= 'scripts/app.js')

