footer
  .row.section-footer
    .large-4.columns.section-footer
      h2.test-h2.position-center
    .large-4.columns.section-footer
      h2.test-h2.position-center
    .large-4.columns.section-footer
      h2.test-h2.position-center
script(src= 'scripts/app.js')

