footer
  .footer__copyright &copy; kiadybezaka - 2017
  .footer__icons
    a(href="https://github.com/kiadybezaka" target="_blank" rel="noopener noreferrer")
      span.hide-only github
      i.fa.fa-github
    a(href="https://www.linkedin.com/in/kiadybezaka/" target="_blank" rel="noopener noreferrer")
      span.hide-only linkedin
      i.fa.fa-linkedin
    a(href="http://mg.viadeo.com/fr/profile/kiadybezaka" target="_blank" rel="noopener noreferrer")
      span.hide-only viadeo
      i.fa.fa-viadeo
    a(href="https://www.facebook.com/kiadybezakaphotography/" target="_blank"  rel="noopener noreferrer")
      span.hide-only facebook
      i.fa.fa-facebook
    a(href="https://www.instagram.com/kiadybezaka/" target="_blank" rel="noopener noreferrer")
      span.hide-only instagram
      i.fa.fa-instagram
.footer__navigation
  a(href="#photographer").section-header__link Photographe
  a(href="#developer").section-header__link Developpeur
  a(href="#jiujitsu").section-header__link BJJ
  a(href="#contact").section-header__link Contact
script(src= 'scripts/app.js')

