title= title + ' | Portfolio'
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="description" content="Kiady Bezaka - Photographer and Front End Developer")
// Global site tag (gtag.js) - Google Analytics
script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-112403253-1')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-112403253-1');

link(rel='icon', href='images/icons/logo.png', type='image/x-icon')
link(rel='stylesheet', href='styles/styles.css')
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.css')




