header.section-header.js-sticky-header
  h1
    a(href="#").section-header__logo.js-test-btn Kiady Bezaka
  .section-header__navigation
    a(href="#").section-header__link Photographe
    a(href="#").section-header__link Developpeur
    a(href="#").section-header__link A propos
