.section-album {
  min-height: 400px;
  margin: 20px 0 60px;
  padding: 0 20px;
  text-align: center;
  &__logo {
    width: 150px;
    height: auto;
  }
  &__content {
    max-width: 1100px;
    &:first-of-type {
      margin: 35px auto 0;
    }
    margin: 0 auto;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-flow: row wrap;
  }
  &__box-img {
    flex: auto; 
    width: 200px; 
  }
  &__img {
    width: 100%; 
    height: auto;
    cursor: pointer;
  }
}
