.section-content {
  padding: 0 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9998;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:rgba(0,0,0,0.2);
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  &__portfolio {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .portfolio {
      &__first-name,
      &__name {
        margin: 10px 0;
        display: none;
      }
      &__img {
        margin: 10px 0;
        width: 200px;
        height: 200px;
        border-radius: 100px;
        box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
        @media screen and (max-width: 480px) {
          width: 150px;
          height: 150px;
          border-radius: 75px;
        }
      }
    }
    @media screen and (min-width: 1024px) {
      padding: 35px;
      width: 30%;
    }
  }
  &__about {
    display: none;
    .about {
      &__title,
      &__content {
        margin: 10px 0;
        width: 100%;
      }
    }
    @media screen and (min-width: 1024px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 35px;
      width: 60%;
    }
  }
}
.mobile-only {
  position: static;
  background-color:transparent;
  text-align: center;
  padding: 0 20px;
  h2 {
    color: $primary-color;
  }
  p {
    color: #000;
  }
  .section-content {
    &__about {
      .about {
        &__content {
          width: auto;
        }
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 35px;
      @media screen and (min-width: 1024px) {
        display: none;
      }
    }
  }
}
