.section-other {
  min-height: 400px;
  margin: 20px 0;
  padding: 0 20px;
  text-align: center;
  h2,
  p {
    color: $primary-color;
    margin: 10px 0;
  }
  h2 {
    margin: 60px 0 10px;
  }
  &__title {

  }
  &__description {

  }
  &__content {
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__certification {
    width: 100%;
    @media screen and (min-width: 480px)  {
      width: 40%;
    }
    .certification__item {
      h3 {
        margin: 0 auto!important;
      }
      max-width: 300px;
      margin: 35px auto;
    }
    .certification__img {
    }
    .certification__content {

      h4 {
        font-size: 20px;
        margin: 10px auto!important;
      }
      .fa {
        font-size: 35px;
        cursor: pointer;
        color: $primary-color;
      }
      .slick-prev {
        position: absolute;
        z-index: 5;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      .slick-next {
        position: absolute;
        z-index: 5;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      .slick-disabled {
        display: none!important;
      }
    }
    .certification__title {
      max-width: 250px;
      margin: 0 auto;
    }
    .certification__content-title {
      max-width: 250px;
    }
    .certification__content-slide-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__fun {
    width: 100%;
    text-align: center;
    @media screen and (min-width: 480px)  {
      width: 60%;
      text-align: left;
      padding: 35px 0;
    }
    h3 {
      margin: 0;
    }
    .fun__album {
      margin: 10px 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      img {
        padding: 5px;
        width: 100%;
        height: auto;
      }
    }
    .fun__album-img {
      width: 33%;
    }
  }
}
