.section-road {
  height: 400px;
  margin: 20px 0;
  text-align: center;
  h2,
  p {
    color: $primary-color;
    margin: 10px 0;
  }
  &__title {

  }
  &__description {

  }
  &__content {
    width: 100%;
    
  }
  &__item {
    float: left;
    &:focus {
      outline: 0!important;
    }
  }
  &__box {
    position: relative;
    margin: 35px 0;
    @media screen and (min-width: 1024px) {
      margin: 35px 20px;
    }
  }
  .box {
    &__img {
    }
    &__text {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translate(-50%,0);
    }

  }
}