.section-tarif {
  min-height: 200px;
  margin: 20px 0 60px;
  padding: 0 20px;
  text-align: center;
  h3,
  ul,
  h2,
  p {
    color: $primary-color;
    margin: 10px 0;
  }
  h2 {
    margin: 60px 0 10px;
  }
  &__content {
    max-width: 1100px;
    margin: 0 auto;
    font-size: 0;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1024px) {
      flex-direction: row;
    }
  }
  &__service {
    width: 100%;
    padding: 20px;
    @media screen and (min-width: 1024px) {
      width: 70%;
    }
    h2,
    p {
      margin: 10px 0!important;
      text-align: center;
      @media screen and (min-width: 1024px) {
        text-align: left;
      }
    }
  }
  &__gear {
    width: 100%;
    padding: 20px;
    @media screen and (min-width: 1024px) {
      width: 30%;
    }
    h2,
    p {
      margin: 10px 0!important;
      text-align: center;
      @media screen and (min-width: 1024px) {
        text-align: left;
      }
    }
    ul {
      margin: 0 auto;
    }
    li {
      text-align: left;
    }
  }
}
