extends ../_base/layout.jade

block vars

  - title = 'Other'

block main
  .row
    .section-slider.js-slide
  .row
    .section-content
      .large-8.columns.box-left
        .section-content__team
      .large-4.columns.box-right
        .section-content__article
  .row
    .section-tarif
      .large-3.columns.box-left
        .section-tarif__box
      .large-3.columns.box-center
        .section-tarif__box
      .large-3.columns.box-center
        .section-tarif__box
      .large-3.columns.box-right
        .section-tarif__box
  .row
    .section-album
  //- .row
  //-   .flip-container(ontouchstart="this.classList.toggle('hover');")
  //-     .flipper
  //-       .front front
  //-       .back back



