@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
h1, h2, body {
  font-family: "Josefin Sans", sans-serif !important; }

.section-slider {
  position: relative;
  padding: 0;
  width: 100%;
  margin: 0 auto; }
  .section-slider h2, .section-slider p {
    color: #FFF; }

.section-content {
  padding: 0 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9998;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2); }
  @media screen and (min-width: 1024px) {
    .section-content {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%; } }
  .section-content__portfolio {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .section-content__portfolio .portfolio__first-name, .section-content__portfolio .portfolio__name {
      margin: 10px 0;
      display: none; }
    .section-content__portfolio .portfolio__img {
      margin: 10px 0;
      width: 200px;
      height: 200px;
      border-radius: 100px;
      box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2); }
      @media screen and (max-width: 480px) {
        .section-content__portfolio .portfolio__img {
          width: 150px;
          height: 150px;
          border-radius: 75px; } }
    @media screen and (min-width: 1024px) {
      .section-content__portfolio {
        padding: 35px;
        width: 30%; } }
  .section-content__about {
    display: none; }
    .section-content__about .about__title, .section-content__about .about__content {
      margin: 10px 0;
      width: 100%; }
    @media screen and (min-width: 1024px) {
      .section-content__about {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 35px;
        width: 60%; } }

.mobile-only {
  position: static;
  background-color: transparent;
  text-align: center;
  padding: 0 20px; }
  .mobile-only h2 {
    color: #008CBA; }
  .mobile-only p {
    color: #000; }
  .mobile-only .section-content__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px; }
    .mobile-only .section-content__about .about__content {
      width: auto; }
    @media screen and (min-width: 1024px) {
      .mobile-only .section-content__about {
        display: none; } }

.section-album {
  min-height: 400px;
  margin: 20px 0 60px;
  padding: 0 20px;
  text-align: center; }
  .section-album__logo {
    width: 150px;
    height: auto; }
  .section-album__content {
    max-width: 1100px;
    margin: 0 auto;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-flow: row wrap; }
    .section-album__content:first-of-type {
      margin: 35px auto 0; }
  .section-album__box-img {
    flex: auto;
    width: 200px; }
  .section-album__img {
    width: 100%;
    height: auto;
    cursor: pointer; }

.section-road {
  min-height: 400px;
  margin: 20px 0 60px;
  padding: 0 20px;
  text-align: center; }
  .section-road__content {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
  .section-road__item {
    width: 100%;
    min-height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 0 10px 50px; }
    .section-road__item:first-child {
      margin-top: 35px; }
    @media screen and (min-width: 768px) {
      .section-road__item {
        padding: 10px 0 10px 100px; } }
    .section-road__item p {
      text-align: left; }
    .section-road__item:after {
      content: " ";
      position: absolute;
      width: 25px;
      height: 25px;
      border-radius: 100%;
      border: 5px solid #FFF;
      background-color: #008CBA;
      box-shadow: 0px 0px 20px 1px rgba(123, 114, 194, 0.3);
      left: 10px;
      top: 30px; }
    .section-road__item:before {
      content: " ";
      position: absolute;
      width: 5px;
      height: 100%;
      background-color: #008CBA;
      left: 20px;
      top: 35px; }

.section-header {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out; }
  @media screen and (min-width: 1024px) {
    .section-header {
      justify-content: space-between; } }
  .section-header.sticky {
    position: fixed;
    z-index: 9999;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3); }
  .section-header__logo {
    color: #FFF;
    text-transform: capitalize;
    font-size: 22px; }
  .section-header__navigation {
    display: none; }
    @media screen and (min-width: 1024px) {
      .section-header__navigation {
        min-width: 320px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; } }
  .section-header__link {
    font-size: 12px;
    color: #FFF;
    padding: 0 5px; }

.section-skill {
  min-height: 400px;
  margin: 20px 0;
  padding: 0 20px;
  text-align: center; }
  .section-skill__separator {
    max-width: 950px;
    height: 22px;
    margin: 0 auto;
    position: relative;
    border-bottom: 1px solid #008CBA; }
  .section-skill__subtitle {
    min-width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF; }
  .section-skill__box-xp {
    margin: 5px 0; }
  .section-skill__box {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (min-width: 480px) and (max-width: 1024px) {
      .section-skill__box {
        width: 30%; } }
    @media screen and (min-width: 1024px) {
      .section-skill__box {
        width: 20%; } }
  .section-skill__content {
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
  .section-skill__item {
    float: left; }
    .section-skill__item:focus {
      outline: 0 !important; }
  .section-skill__box {
    position: relative;
    margin: 35px 0; }
    @media screen and (min-width: 1024px) {
      .section-skill__box {
        margin: 35px 20px; } }
  .section-skill__box-img {
    width: auto;
    height: 100px; }
  .section-skill .box__img {
    width: auto;
    height: 100px; }
  .section-skill .box__text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0); }

.section-tarif {
  min-height: 200px;
  margin: 20px 0 60px;
  padding: 0 20px;
  text-align: center; }
  .section-tarif__content {
    max-width: 1100px;
    margin: 0 auto;
    font-size: 0;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 1024px) {
      .section-tarif__content {
        flex-direction: row; } }
  .section-tarif__service {
    width: 100%;
    padding: 20px; }
    @media screen and (min-width: 1024px) {
      .section-tarif__service {
        width: 70%; } }
    .section-tarif__service h2,
    .section-tarif__service p {
      margin: 10px 0 !important;
      text-align: center; }
      @media screen and (min-width: 1024px) {
        .section-tarif__service h2,
        .section-tarif__service p {
          text-align: left; } }
  .section-tarif__gear {
    width: 100%;
    padding: 20px; }
    @media screen and (min-width: 1024px) {
      .section-tarif__gear {
        width: 30%; } }
    .section-tarif__gear h2,
    .section-tarif__gear p {
      margin: 10px 0 !important;
      text-align: center; }
      @media screen and (min-width: 1024px) {
        .section-tarif__gear h2,
        .section-tarif__gear p {
          text-align: left; } }
    .section-tarif__gear ul {
      margin: 0 auto; }
    .section-tarif__gear li {
      text-align: left; }

.section-bjj {
  min-height: 400px;
  margin: 20px 0;
  padding: 0 20px;
  text-align: center; }
  .section-bjj__content {
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
  .section-bjj__content-slide {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 480px) {
      .section-bjj__content-slide {
        padding: 50px 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; } }
  .section-bjj__box-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px; }
  .section-bjj__box-title {
    font-weight: 600;
    color: #008CBA; }
  .section-bjj__box-img {
    padding: 15px 0; }
  .section-bjj__box {
    margin-bottom: 60px; }
  .section-bjj__box-medal {
    font-weight: 500;
    font-size: 18px; }
  .section-bjj__box-belt, .section-bjj__box-category {
    font-weight: 500;
    color: #008CBA; }

.section-other {
  min-height: 400px;
  margin: 20px 0;
  padding: 0 20px;
  text-align: center; }
  .section-other__content {
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
  .section-other__certification {
    width: 100%; }
    .section-other__certification .certification__item {
      margin: 35px auto; }
      .section-other__certification .certification__item h3 {
        margin: 0 auto !important; }
    .section-other__certification .certification__content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .section-other__certification .certification__content h4 {
        font-size: 20px;
        margin: 10px auto !important; }
      .section-other__certification .certification__content .fa {
        font-size: 35px;
        cursor: pointer;
        color: #008CBA; }
      .section-other__certification .certification__content .slick-prev {
        position: absolute;
        z-index: 5;
        left: 0;
        top: 50%;
        transform: translateY(-50%); }
      .section-other__certification .certification__content .slick-next {
        position: absolute;
        z-index: 5;
        right: 0;
        top: 50%;
        transform: translateY(-50%); }
      .section-other__certification .certification__content .slick-disabled {
        display: none !important; }
    .section-other__certification .certification__title {
      max-width: 250px;
      margin: 0 auto; }
    .section-other__certification .certification__content-title {
      max-width: 250px; }
    .section-other__certification .certification__content-slide-item {
      display: flex;
      flex-direction: column;
      align-items: center; }
  .section-other__fun {
    width: 100%;
    text-align: center; }
    @media screen and (min-width: 480px) {
      .section-other__fun {
        text-align: left;
        padding: 35px 0; } }
    .section-other__fun h3 {
      margin: 0; }
    @media screen and (min-width: 480px) {
      .section-other__fun .section-skill__subtitle {
        font-size: 24px; } }
    .section-other__fun .fun__album {
      margin: 50px 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap; }
      .section-other__fun .fun__album img {
        padding: 5px;
        width: 100%;
        height: auto; }
    .section-other__fun .fun__album-img {
      width: 100%; }
      @media screen and (min-width: 480px) {
        .section-other__fun .fun__album-img {
          width: 33%; } }

.section-contact {
  min-height: 200px;
  margin: 20px 0 60px;
  padding: 0 20px;
  text-align: center; }
  .section-contact__content {
    max-width: 800px;
    margin: 0 auto;
    font-size: 0;
    display: flex;
    flex-direction: column; }
  .section-contact__input-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media screen and (min-width: 1024px) {
      .section-contact__input-group {
        flex-direction: row; } }
  .section-contact__img {
    width: 100%;
    height: auto; }
  .section-contact__input {
    padding: 0 15px;
    margin: 5px 0; }
    @media screen and (min-width: 1024px) {
      .section-contact__input {
        padding: 0 20px; } }
  .section-contact__input-group {
    padding: 0 15px; }
    .section-contact__input-group input {
      width: 100% !important;
      padding: 0 10px;
      margin: 5px 0; }
      @media screen and (min-width: 1024px) {
        .section-contact__input-group input {
          margin: 5px; } }
  .section-contact__btn button {
    margin: 10px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    padding: 6px 10px;
    color: #FFF; }
  .section-contact textarea {
    margin: 0;
    width: 100% !important;
    height: 100px;
    padding: 10px;
    font-size: 15px; }

header {
  background-color: #008CBA; }
  header a {
    color: #FFF;
    margin: 0 20px; }
    header a:hover {
      color: white; }
    header a:focus {
      color: white; }

footer {
  width: 100%;
  height: 260px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #008CBA; }
  footer .footer__copyright {
    color: #FFF; }
  footer .footer__icons {
    padding: 15px 0; }
  footer a {
    color: #FFF;
    margin: 0 20px; }
    footer a:hover {
      color: white; }

.footer__navigation {
  background-color: #008CBA;
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3); }
  @media screen and (min-width: 1024px) {
    .footer__navigation {
      display: none; } }

.hide-only {
  display: none; }

.wrapper {
  width: 100%;
  overflow-x: hidden; }

.desktop-only {
  display: none !important; }
  @media screen and (min-width: 1024px) {
    .desktop-only {
      display: flex !important; } }

h3, ul, h2, p {
  color: #008CBA;
  margin: 10px 0; }

h2 {
  margin: 60px 0 10px; }
