extends _base/layout.jade

block vars

  - title = 'Index'

block main
  .section-slider

    .section-slider__content

      picture.product-category__img
        source(srcset="http://via.placeholder.com/480x500", media="(max-width: 480px)")
        source(srcset="http://via.placeholder.com/768x500", media="(max-width: 768px)")
        source(srcset="http://via.placeholder.com/1200X500", media="(max-width: 1200px)")
        img(src="http://via.placeholder.com/1920x500" , width="1920" , height="500" , alt="banner kiady bezaka" )

    .section-content

      .section-content__portfolio
        img.portfolio__img(src="http://via.placeholder.com/200x200", height="200", width="200" alt="avatar kiay bezaka" )
        p.portfolio__first-name Razafindrabe
        p.portfolio__name Burel Kiady Bezaka

      .section-content__about
        h2.about__title Lorem ipsum &amp; Dolor pueris
        p.about__content Tu autem, Fanni, quod mihi tantum tribui dicis quantum ego nec adgnosco nec postulo, facis amice; sed, ut mihi videris, non recte iudicas de Catone; aut enim nemo, quod quidem magis credo, aut si quisquam, ille sapiens fuit. Quo modo, ut alia omittam, mortem filii tulit! memineram Paulum, videram Galum, sed hi in pueris, Cato in perfecto et spectato viro.

  .section-content.mobile-only

    .section-content__about

      h2.about__title Lorem ipsum &amp; Dolor pueris
      p.about__content Tu autem, Fanni, quod mihi tantum tribui dicis quantum ego nec adgnosco nec postulo, facis amice; sed, ut mihi videris, non recte iudicas de Catone; aut enim nemo, quod quidem magis credo, aut si quisquam, ille sapiens fuit. Quo modo, ut alia omittam, mortem filii tulit! memineram Paulum, videram Galum, sed hi in pueris, Cato in perfecto et spectato viro.
  .section-road
    h2.section-road__title Lorem ipsum
    p.section-road__description Lorem ipsum dolor tantum tribui
    .section-road__content
      .section-road__item
        strong.section-road__date Depuis Janvier 2017
        p.section-road__name Proximity BBDO Indian Ocean
        p.section-road__job-title Developpeur Front-End
        p.section-road__job-description
          strong Technologie : 
          | &nbsp;Node.js, Jade, Gulp, Sass, HTML 5, CSS 3, JQuery, Sitecore
      .section-road__item
        strong.section-road__date Depuis Décembre 2016
        p.section-road__name BICI
        p.section-road__job-title iT-Consultant
      .section-road__item
        strong.section-road__date Juillet - Novembre 2016
        p.section-road__name ARIARY.NET
        p.section-road__job-title Developpeur web
        p.section-road__job-description
          strong Technologie : 
          | &nbsp;Symfony, HTML 5, CSS 3, JQuery
      .section-road__item
        strong.section-road__date 2013-2016
        p.section-road__name Licence en Web et Design
        p.section-road__job-title IT-University
      .section-road__item
        strong.section-road__date 2013
        p.section-road__name BACC Série C
        p.section-road__job-title Institution Sainte Famille Mahamasina
        p.section-road__job-description
          strong Mention :
          | &nbsp;Assez-Bien
  .section-skill
    h2.section-skill__title Lorem ipsum
    p.section-skill__description Lorem ipsum dolor tantum tribui
    .section-skill__content
      .section-skill__box
        h3.section-skill__box-title Jade
        span.section-skill__box-xp 1 an d'experience
        img.section-skill__box-img(src="http://via.placeholder.com/200x200", height="100", width="100" alt="skill" )
      .section-skill__box
        h3.section-skill__box-title Jade
        span.section-skill__box-xp 1 an d'experience
        img.section-skill__box-img(src="http://via.placeholder.com/200x200", height="100", width="100" alt="skill" )
      .section-skill__box
        h3.section-skill__box-title Jade
        span.section-skill__box-xp 1 an d'experience
        img.section-skill__box-img(src="http://via.placeholder.com/200x200", height="100", width="100" alt="skill" )
      .section-skill__box
        h3.section-skill__box-title Jade
        span.section-skill__box-xp 1 an d'experience
        img.section-skill__box-img(src="http://via.placeholder.com/200x200", height="100", width="100" alt="skill" )
    .section-skill__separator
      p.section-skill__subtitle Lorem ipsum
    .section-skill__content
      .section-skill__box
        h3.section-skill__box-title Jade
        span.section-skill__box-xp 1 an d'experience
        img.section-skill__box-img(src="http://via.placeholder.com/200x200", height="100", width="100" alt="skill" )
      .section-skill__box
        h3.section-skill__box-title Jade
        span.section-skill__box-xp 1 an d'experience
        img.section-skill__box-img(src="http://via.placeholder.com/200x200", height="100", width="100" alt="skill" )
      .section-skill__box
        h3.section-skill__box-title Jade
        span.section-skill__box-xp 1 an d'experience
        img.section-skill__box-img(src="http://via.placeholder.com/200x200", height="100", width="100" alt="skill" )
      .section-skill__box
        h3.section-skill__box-title Jade
        span.section-skill__box-xp 1 an d'experience
        img.section-skill__box-img(src="http://via.placeholder.com/200x200", height="100", width="100" alt="skill" )
      .section-skill__box
        h3.section-skill__box-title Jade
        span.section-skill__box-xp 1 an d'experience
        img.section-skill__box-img(src="http://via.placeholder.com/200x200", height="100", width="100" alt="skill" )
      .section-skill__box
        h3.section-skill__box-title Jade
        span.section-skill__box-xp 1 an d'experience
        img.section-skill__box-img(src="http://via.placeholder.com/200x200", height="100", width="100" alt="skill" )
      .section-skill__box
        h3.section-skill__box-title Jade
        span.section-skill__box-xp 1 an d'experience
        img.section-skill__box-img(src="http://via.placeholder.com/200x200", height="100", width="100" alt="skill" )
      .section-skill__box
        h3.section-skill__box-title Jade
        span.section-skill__box-xp 1 an d'experience
        img.section-skill__box-img(src="http://via.placeholder.com/200x200", height="100", width="100" alt="skill" )
  .section-album



