extends _base/layout.jade

block vars

  - title = 'Kiady Bezaka'

block main
  .section-slider

    .section-slider__content

      picture.product-category__img
        source(srcset="images/banner/banner-480.jpg", media="(max-width: 480px)")
        source(srcset="images/banner/banner-768.jpg", media="(max-width: 768px)")
        source(srcset="images/banner/banner-1200.jpg", media="(max-width: 1200px)")
        img(src="images/banner/banner-1920.jpg" , width="1920" , height="500" , alt="banner kiady bezaka" )

    .section-content

      .section-content__portfolio
        img.portfolio__img(src="images/avatar/kiadybezaka.jpg", height="200", width="200" alt="avatar kiay bezaka" )
        p.portfolio__first-name Razafindrabe
        p.portfolio__name Burel Kiady Bezaka

      .section-content__about
        h2.about__title Développeur &amp; Photographe
        p.about__content Je m'appelle Razafindrabe Burel Kiady Bezaka et je suis  passionné par le web et la photographie. Développeur Front End après l'obtention de mon diplôme de Licence en Web et Design à l'IT University en 2016 et Photographe individuel depuis 2015. Si mon profil vous intéresse, n'hésitez pas à me contacter.

  .section-content.mobile-only

    .section-content__about

      h2.about__title Développeur &amp; Photographe
      p.about__content Je m'appelle Razafindrabe Burel Kiady Bezaka et je suis passionné par le web et la photographie. Développeur Front End après l'obtention de mon diplôme de Licence en Web et Design à l'IT University en 2016 et Photographe individuel depuis 2015. Si mon profil vous intéresse, n'hésitez pas à me contacter.

  .section-album#photographer
    h2.section-album__title Galerie
    p.section-album__description Les photos que j'ai prises
    .section-album__content.desktop-only
      a(href='images/gallery/couple-ethienne-sarah.jpg', data-lightbox='gallery', data-title='Couple - Ethienne & Sarah')
        span.hide-only Album image
        img.section-album__img.js-parallax(src='images/gallery/tiny/couple-ethienne-sarah.jpg', height='1920', width='800', alt='couple-ethienne-sarah')
              
    .section-album__content
      .section-album__box-img
        a(href='images/gallery/portrait-enfant.jpg', data-lightbox='gallery', data-title='Portrait - Enfant')
          span.hide-only Album image
          img.section-album__img(src='images/gallery/tiny/portrait-enfant.jpg', height='1920', width='800', alt='portrait-enfant')
                  
      .section-album__box-img
        a(href='images/gallery/couple-ethienne-sarah-2.jpg', data-lightbox='gallery', data-title='Couple - Ethienne & Sarah')
          span.hide-only Album image
          img.section-album__img(src='images/gallery/tiny/couple-ethienne-sarah-2.jpg', height='1920', width='800', alt='couple-ethienne-sarah-2')
                
      .section-album__box-img
        a(href='images/gallery/portrait-kenny.jpg', data-lightbox='gallery', data-title='Portrait - Kenny')
          span.hide-only Album image
          img.section-album__img(src='images/gallery/tiny/portrait-kenny.jpg', height='1920', width='800', alt='portrait-kenny')
                  
      .section-album__box-img
        a(href='images/gallery/portrait-njivinah.jpg', data-lightbox='gallery', data-title='Portrait - Njivinah')
          span.hide-only Album image
          img.section-album__img(src='images/gallery/tiny/portrait-njivinah.jpg', height='1920', width='800', alt='portrait-njivinah')
              
      .section-album__box-img
        a(href='images/gallery/portrait-miss-earth.jpg', data-lightbox='gallery', data-title='Portrait - Miss Earth')
          span.hide-only Album image
          img.section-album__img(src='images/gallery/tiny/portrait-miss-earth.jpg', height='1920', width='800', alt='portrait-miss-earth')

  .section-tarif
    .section-tarif__content
      .section-tarif__service
        h2 Mon tarif
        p Concernant mes prestations photographiques, je vous propose un tarif abordable avec un rapport qualité-prix exceptionnel. Réaliser les photos dont vous aviez rêvés et capturer vos emotions restent mes 2 principaux objectifs. Guider par la passion et ma motivation, je vous garantis des superbes photos.
        
      .section-tarif__gear
        h2 Fiche technique
        ul
          li Nikon D700
          li Nikkor 24mm f2.8
          li Nikkor 50mm f1.8
          li Nikkor 85mm f1.8

  .section-road#developer
    h2.section-road__title Mon parcours
    p.section-road__description Experience professionnel
    .section-road__content
      .section-road__item
        strong.section-road__date Depuis Décembre 2016
        p.section-road__name Proximity BBDO Indian Ocean
        p.section-road__job-title Developpeur Front-End
        p.section-road__job-description
          strong Technologie :
          | &nbsp;Node.js, Jade, Gulp, Sass, HTML 5, CSS 3, JQuery, Sitecore
      .section-road__item
        strong.section-road__date Depuis Novembre 2016
        p.section-road__name BICI
        p.section-road__job-title iT-Consultant
      .section-road__item
        strong.section-road__date Juillet - Novembre 2016
        p.section-road__name ARIARY.NET
        p.section-road__job-title Developpeur web
        p.section-road__job-description
          strong Technologie :
          | &nbsp;Symfony, HTML 5, CSS 3, JQuery
      .section-road__item
        strong.section-road__date 2013-2016
        p.section-road__name Licence en Web et Design
        p.section-road__job-title IT-University
      .section-road__item
        strong.section-road__date 2013
        p.section-road__name BACC Série C
        p.section-road__job-title Institution Sainte Famille Mahamasina
        p.section-road__job-description
          strong Mention :
          | &nbsp;Assez-Bien
  .section-skill
    h2.section-skill__title Mes compétences
    p.section-skill__description Ce que je sais faire
    .section-skill__content
      .section-skill__box
        h3.section-skill__box-title HTML5
        span.section-skill__box-xp 2 ans d'experience
        img.section-skill__box-img(src="images/logos/html5.png", height="100", width="100" alt="html5" )
      .section-skill__box
        h3.section-skill__box-title CSS3
        span.section-skill__box-xp 2 ans d'experience
        img.section-skill__box-img(src="images/logos/css3.png", height="100", width="100" alt="css3" )
      .section-skill__box
        h3.section-skill__box-title Javascript
        span.section-skill__box-xp 2 ans d'experience
        img.section-skill__box-img(src="images/logos/js.png", height="100", width="100" alt="js" )
      .section-skill__box
        h3.section-skill__box-title ReactJS
        span.section-skill__box-xp 1 an d'experience
        img.section-skill__box-img(src="images/logos/react.png", height="100", width="100" alt="react" )

    .section-skill__separator
      p.section-skill__subtitle Technologies
    .section-skill__content
      .section-skill__box
        h3.section-skill__box-title Windows
        span.section-skill__box-xp OS principal
        img.section-skill__box-img(src="images/logos/win.png", height="100", width="100" alt="win" )
      .section-skill__box
        h3.section-skill__box-title Git
        span.section-skill__box-xp Versioning
        img.section-skill__box-img(src="images/logos/git.png", height="100", width="100" alt="git" )
      .section-skill__box
        h3.section-skill__box-title Gulp
        span.section-skill__box-xp Automatisation
        img.section-skill__box-img(src="images/logos/gulp.png", height="100", width="100" alt="gulp" )
      .section-skill__box
        h3.section-skill__box-title JQuery
        span.section-skill__box-xp Bibliothèque Js
        img.section-skill__box-img(src="images/logos/jquery.png", height="100", width="100" alt="jquery" )
      .section-skill__box
        h3.section-skill__box-title Node.js
        span.section-skill__box-xp Serveur Js
        img.section-skill__box-img(src="images/logos/node.jpg", height="100", width="100" alt="node" )
      .section-skill__box
        h3.section-skill__box-title MySql
        span.section-skill__box-xp BDD
        img.section-skill__box-img(src="images/logos/mysql.png", height="100", width="100" alt="mysql" )
      .section-skill__box
        h3.section-skill__box-title JAVA
        span.section-skill__box-xp Développement
        img.section-skill__box-img(src="images/logos/java.png", height="100", width="100" alt="java" )
      .section-skill__box
        h3.section-skill__box-title PHP
        span.section-skill__box-xp Développement
        img.section-skill__box-img(src="images/logos/php.jpg", height="100", width="100" alt="php" )
      .section-skill__box
        h3.section-skill__box-title Android
        span.section-skill__box-xp Développement
        img.section-skill__box-img(src="images/logos/android.jpg", height="100", width="100" alt="android" )
      .section-skill__box
        h3.section-skill__box-title Photoshop
        span.section-skill__box-xp Retouche
        img.section-skill__box-img(src="images/logos/ps.jpg", height="100", width="100" alt="ps" )
      .section-skill__box
        h3.section-skill__box-title Lightroom
        span.section-skill__box-xp Retouche
        img.section-skill__box-img(src="images/logos/lr.png", height="100", width="100" alt="lr" )
  .section-bjj#jiujitsu
    h2.section-bjj__title Jiu Jitsu Bresilien
    p.section-bjj__description Mon parcours en tant que competiteur
    .section-bjj__content
      .section-bjj__content-slide.js-slide-bjj-medal
        .section-bjj__box
          .section-bjj__box-item
            .section-bjj__box-title Open Africa 2018
            .section-bjj__box-medal Médaille d'argent
            img.section-bjj__box-img(src="images/medal/open-africa-2018-bjj-kiadybezaka.png", height="200", width="200" alt="open africa 2018 kiady bezaka jiujitsu" )
            .section-bjj__box-category Catégorie : -94kg
            .section-bjj__box-belt Ceinture : Blanche
        .section-bjj__box
          .section-bjj__box-item
            .section-bjj__box-title Open Africa 2017
            .section-bjj__box-medal Médaille d'or
            img.section-bjj__box-img(src="images/medal/open-africa-2017-bjj-kiadybezaka.png", height="200", width="200" alt="open africa 2017 kiady bezaka jiujitsu" )
            .section-bjj__box-category Catégorie : -90kg
            .section-bjj__box-belt Ceinture : Blanche
        .section-bjj__box
          .section-bjj__box-item
            .section-bjj__box-title Mauritius Open No Gi 2018
            .section-bjj__box-medal Médaille d'or
            img.section-bjj__box-img(src="images/medal/or-kiady-bezaka.png", height="200", width="200" alt="mauritius kiady bezaka jiujitsu" )
            .section-bjj__box-category Catégorie : -88kg
            .section-bjj__box-belt Ceinture : Blanche
        .section-bjj__box
          .section-bjj__box-item
            .section-bjj__box-title Mauritius National 2017
            .section-bjj__box-medal Médaille d'or
            img.section-bjj__box-img(src="images/medal/or-kiady-bezaka.png", height="200", width="200" alt="mauritius kiady bezaka jiujitsu" )
            .section-bjj__box-category Catégorie : -85kg
            .section-bjj__box-belt Ceinture : Blanche
        .section-bjj__box
          .section-bjj__box-item
            .section-bjj__box-title ARGI competition 2017
            .section-bjj__box-medal Médaille d'argent
            img.section-bjj__box-img(src="images/medal/arg-kiady-bezaka.png", height="200", width="200" alt="argi kiady bezaka jiujitsu" )
            .section-bjj__box-category Catégorie : -87kg
            .section-bjj__box-belt Ceinture : Blanche

  .section-other#other
    h2.section-other__title Autres
    p.section-other__description "If you can dream it, you can do it ...."
    .section-other__content
      .section-other__certification
        .section-skill__separator
          p.section-skill__subtitle &nbsp;FreeCodeCamp&nbsp;
        .certification__item
          .certification__content.js-slide-certification
            .certification__content-item
              a.certification__content-slide-item(href="https://www.freecodecamp.org/kiadybezaka/front-end-certification" target="_blank" rel="noopener noreferrer")
                h4.certification__title Front End Development Certification
                img.certification__img(src="images/certif/front-end-certification-kiadybezaka.png", height="200", width="200" alt="front end certification kiady bezaka" )
            .certification__content-item
              a.certification__content-slide-item(href="https://www.freecodecamp.org/kiadybezaka/data-visualization-certification" target="_blank" rel="noopener noreferrer")
                h4.certification__title Data Visualization Certification
                img.certification__img(src="images/certif/data-visualization-certification-kiadybezaka.png", height="200", width="200" alt="data visualisation certification kiady bezaka" )
            .certification__content-item
              a.certification__content-slide-item(href="https://www.freecodecamp.org/kiadybezaka/back-end-certification" target="_blank" rel="noopener noreferrer")
                h4.certification__title Back End Development Certification
                img.certification__img(src="images/certif/back-end-certification-kiadybezaka.png", height="200", width="200" alt="back end certification kiady bezaka" )
        .section-skill__separator
          p.section-skill__subtitle &nbsp;Jiu Jitsu Bresilien&nbsp;
        .certification__item
          .certification__content.js-slide-certification
            .certification__content-item
              a.certification__content-slide-item(href="https://sjjif.com/" target="_blank" rel="noopener noreferrer")
                h4.certification__title International Referee Certification
                img.certification__img(src="images/certif/referee-bjj-kiadybezaka.jpg", height="200", width="200" alt="certif" )
      .section-other__fun
        .section-skill__separator
          p.section-skill__subtitle &nbsp;Front End Mentor&nbsp;
        p.fun__text.sr-only Eodem tempore etiam Hymetii praeclarae indolis viri negotium..
        .fun__album
          a.fun__album-img(href="https://www.linkedin.com/in/thedaviddias/" target="_blank" rel="noopener noreferrer")
            img(src="images/mentor/david.jpg", height="200", width="200" alt="dqvid dias" )
          a.fun__album-img(href="https://www.linkedin.com/in/ikhlaas-subratty-39758273/" target="_blank" rel="noopener noreferrer")
            img(src="images/mentor/ikhlass.jpg", height="200", width="200" alt="ikhlaas subratty" )
          a.fun__album-img(href="https://www.linkedin.com/in/geoffrey-signorato-2475268a/" target="_blank" rel="noopener noreferrer")
            img(src="images/mentor/geoffrey.jpg", height="200", width="200" alt="geoffrey signorato" )
        .section-skill__separator
          p.section-skill__subtitle &nbsp;Jiu Jitsu Brésilien&nbsp;
        p.fun__text.sr-only Eodem tempore etiam Hymetii praeclarae indolis viri negotium..
        .fun__album
          a.fun__album-img(href="http://ahjotrainingcenter.fi/ohjaajat/delcio-pereira/" target="_blank" rel="noopener noreferrer")
            img(src="images/mentor/pereira.jpg", height="200", width="200" alt="delcio pereira" )
          a.fun__album-img(href="http://www.aloisiosilvabjj.com/index.php/history/professor-joao-history" target="_blank" rel="noopener noreferrer")
            img(src="images/mentor/joao.jpg", height="200", width="200" alt="joao silva" )


  .section-contact#contact
    h2.section-contact__title Contact
    form.section-contact__content(action='#', method='POST')
      .section-contact__input-group
        label.hide-only(for='name') name
        input#name(name='name', type='text', placeholder='Votre nom', required='')
        label.hide-only(for='mail') mail
        input#mail(name='mail', type='email', placeholder='Votre adresse mail', required='')
        label.hide-only(for='subject') subject
        input#subject(name='subject', type='text', placeholder='Le sujet de votre message ...', required='')
      .section-contact__input
        label.hide-only(for='message') message
        textarea#message(name='content', placeholder='Votre message ici ...', required='')
      .section-contact__btn
        button(type='submit') Envoyer






